// Colors
$bg_1: #afafaf;
$bg_2: #cfcfcf;
$gray: #d5c4a1;
$white: #fbf1c7;
$green: #4185d3;
$light-green: #5190d8;
$dark-blue: #2c3e50;
$blue: #458588;
$black: #1d2021;
$dark-gray: #504945;

// Mixins
@mixin pixelate($size, $base, $accent: rgba(0,0,0,.25)) {
  background: $base;
  background-image:
    linear-gradient(45deg,
    $accent 25%, transparent 0,
    transparent 75%, $accent 0),
    linear-gradient(45deg,
    $accent 25%, transparent 0,
    transparent 75%, $accent 0);
  background-position: 0 0, $size $size;
  background-size: 2*$size 2*$size;
}

@mixin beautifyBorder($border_size, $bg_accent_1, $bg_accent_2,
$border_color_1, $border_color_2, $border_color_3, $border_color_4) {
  padding: $border_size;
  border: $border_size solid transparent;
  box-shadow: 2px 2px 8px $dark-gray;
  background: radial-gradient($bg_accent_1 45%, $bg_accent_2 95%) padding-box,
              repeating-linear-gradient(-45deg,
              $border_color_1 0, $border_color_1 12.5%,
              $border_color_2 0, $border_color_2 25%,
              $border_color_3 0, $border_color_3 37.5%,
              $border_color_4 0, $border_color_4 50%)
              0 / 2.1em 2.1em;
}
